body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.main {
    flex: 1 0 auto;
}

nav, .page-footer, .btn, .background {
    background: #c2242a;
}
.card .card-action a:not(.btn):not(.btn-large):not(.btn-large):not(.btn-floating),
.dropdown-content li > a, .dropdown-content li > span{
    color: #c2242a;
}

.red {
    background: #c2242a !important;
}

.btn:hover {
    background: #000000;
}

.brand-logo
{
    margin-left: 10px;
}

.nav-wrapper img
{
    margin-left: 10px;
}

#carousel_1 {
    min-height: 800px;
    background: #f2f2f2;
}

#carousel_2 {
    min-height: 10px;
    background: #f2f2f2;
}

.error {
    height: 400px;
    width:100%;
}

.heart
{
  fill: white;
  position: relative;
  top: 5px;
  width: 20px;
  animation: pulse 2s ease infinite;
}

@keyframes pulse {
  0% { transform: scale(0.8); }
  25% { transform: scale(1.1); }
  50% { transform: scale(0.8); }
  100% { transform: scale(0.8); }
}

.material-icons
{
  animation-name: rotate;
  animation-duration: 60s;
  animation-iteration-count: infinite;
}

@keyframes rotate 
{
    0%   {transform:rotate(0deg);}
    100% {transform:rotate(360deg);}
}