Options +FollowSymlinks
RewriteEngine On
RewriteRule ^$ /ananas/public/index.php [L]
RewriteRule ^([A-Za-z0-9]+)/$ /ananas/public/index.php?__page__=$1 [L]
#RewriteRule ^([A-Za-z0-9]+)/([A-Za-z0-9]+)$ /ananas/public/index.php?__page__=$1&__subpage__=$2 [L]


